*.cache
*.dirstamp
*.dylib
*.la
*.lai
*.lo
*.log
*.o
*.stamp
*.status
*.sum
*.version
*/*/*deps/*.*o
*/*deps/*.*o
*/*libs/*.*o
*/*libs/*.exp*
*/.libs/test*
*deps/*.*o
*libs/*.*o
*site.bak
*site.exp
*~
.libs/msi*
.libs/wixl*
Makefile
Makefile.in
aclocal.m4
atconfig
atlocal
common.vapi
confdefs.h
config.h*
configure
conftest*
data/Makefile
include/Makefile
include/libmsi-enums.h
lib*.a
lib*/*.gir
lib*/*.metadata
lib*/*.typelib
libcommon.h
libmsi/Makefile
libmsi/libmsi*.pc
libmsi/libmsi*.vapi
libmsi/libmsi-enums.c
libmsi/so_locations
libmsi/sql-parser.c
libmsi/sql-parser.h
libtool
msibuild
msiextract
msiinfo
po/*.intltool-merge-cache
po/*.old.po
po/*.pox
po/Makefile
po/Makefile.in
po/POTFILES
po/cat-id-tbl.tmp
po/msitools.pot
stamp-h*
tests/Makefile
tests/package.m4*
tests/testdatabase
tests/testrecord
tests/testsuite
tests/testsuite.dir
tools/msidiff
tools/msidump
wixl
wixl-heat
